:root {
    --head-color: #f5f5f5;
    --head-text: #828282;
    --usBtn-text: #888888;
    --usBtn-color: #e6e6e6;
    --circle: #12c1d2;
    --logo-font: 'Sanchez', serif;
}

* {box-sizing: border-box;}

.sectionTop-header {
    border-top: 2px solid var(--circle);
    background-color: var(--head-color);
}

.head-link {
    padding-right: 15px;
    color: var(--head-text);
}

.header-nav {
    margin-top: 8px;
}

.bi-pencil-square {
    color: var(--head-text);
}

.bi-person-fill {
    color: var(--head-text);
}

.bi-cart-fill {
    color: var(--head-text);
}

.bi-cart-fill {
    color: var(--head-text);
}

.bi-check-lg {
    color: var(--head-text);
}

.head-text {
    color: var(--head-text);
}

.headText-div {
    margin-top: 8px;
}

.text-link {
    color: var(--circle);
}

.logo {
    margin-top: 40px;
    font-family: var(--logo-font);
    font-size: 37px;
    padding: 5px;
}

.circle {
    padding-left: 3px;
    height: 58px;
    width: 57.99px;
    border-radius: 50%;
    background-color: var(--circle);
}

.vendor-span {
    color: white;
}

.dot-span {
    color: var(--circle);
    font-size: 42.99px;
}

#usBtn {
    color: var(--usBtn-text);
    margin-top: 60px;
    border: 1px solid var(--usBtn-color);
    padding: 6px;
}

.header-btn2 {
    background-color: var(--circle);
}

.bi-cart-fill2 {
    color: white;
}

.btn2-text {
    color: white;
}

.uk-flag-icon {
    width: 15px;
}

.header-h2 {
    font-size: 18px;
    color: black;
}

.header-h2:hover {
    color: var(--circle);
}

.headerh2-link {
    margin-top: 20px;
    padding-right: 68px;
}

.headh2-nav {
    margin-top: 90px;
}

.bar {
    width: 10px;
}

.search {
    font: italic;
    margin-top: 82px;
}

.bi-search {
    margin-bottom: 3.45px;
    background-color: var(--head-text);
    border: 2px solid var(--head-text);
    border-radius: 5px;
}
